#------------------------------------------------------------------------------
#-- Application/OS-specific files to ignore
#------------------------------------------------------------------------------
*.retry
.DS_Store
.ansible/**
.directory
.kdev4
.user
Thumbs.db
**/test*.yml
**/ansible/inventories/user**
**/ansible/inventories/group_vars/user**
#------------------------------------------------------------------------------
#-- Compiled files and build artifacts
#------------------------------------------------------------------------------
**/_build/**
**/build/**
*.class
*.com
*.dll
*.exe
*.inc
*.o
*.pyc
*.so
#------------------------------------------------------------------------------
#-- Archive files (it's better to unpack these files and commit the raw source)
#------------------------------------------------------------------------------
*.7z
*.bz2
*.dmg
*.ear
*.gz
*.iso
*.rar
*.tar
*.tgz
*.zip
#------------------------------------------------------------------------------
#-- Logs, Databases, tempfiles, backups
#------------------------------------------------------------------------------
**/.cache/**
**/cache/**
*.bak
*.log
*.old
*.orig
*.sql
*.swp
*.tmp
*.temp
*~
#------------------------------------------------------------------------------
#-- Exceptions
#------------------------------------------------------------------------------
!.gitignore
!.gitattributes
!.editorconfig