[user]
     name = awmyhr
     email = awmyhr@gmail.com
[core]
     whitespace = fix,space-before-tab,trailing-space
     excludesfile = ~/.gitignore
[color]
     ui = auto
[alias]
     st = status -sb
     ci = commit
     br = branch
     co = checkout
     df = diff
     dc = diff --cached
     ls = ls-files
     lg = log -p
     lc = log ORIG_HEAD.. --stat --no-merges
     gl = log --oneline --decorate --stat --graph
     lol = log --graph --decorate --pretty=oneline --abbrev-commit
     lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
     serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
     prune-all = !git remote | xargs -n 1 git remote prune
     whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
     whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
[credential]
     helper = cache
